@import url(https://fonts.googleapis.com/css?family=Inria+Sans:300,300italic,regular,italic,700,700italic);

body{
    background-color: #0C2D57;
    font-family: Inria sans;
}
.containeradd{
    width: 80vw;
    justify-content: center;
}