body{
    background-color: #0C2D57;
}
.navcoloradmin{
    background-color:#1F1F29 ;
}
.botonsal{
    background-color: #0C2D57 !important;
    color: white !important;

}
.notshow{
    display: none !important;
}
