@import url(https://fonts.googleapis.com/css?family=Inria+Sans:300,300italic,regular,italic,700,700italic);
body{
    background-color: #0C2D57;
    font-family: Inria sans;
}

.title{
    color: #E1E1E5;
}
.btn_blue{
    background-color: #0C2D57 !important;
    color: white !important;

}
.notshow{
    display: none !important;
}
.boton-margin{
    margin-right: 10px;
}
.boton-a{
    background-color: #0C2D57 !important;
}
.color-boton{
    color: #E1E1E5;
    text-decoration: none;
}
.barra-determinada{
    width: 100px;

}
.form-buscar{
    width: 380px;
    margin-left: 120px;
    margin-top: -36px;
}
.contenedor-botones-busqueda{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom:18px;
}
.Estado{
    display: flex;
    justify-content: center;
    color: #E1E1E5;
}

